{% extends 'base.html.twig' %}

{% block title %}Hello ConsultAccountController!{% endblock %}

{% block body %}
    {% include 'header/index.html.twig' %}
    <b>Buscar usuario por número de documento</b></br></br>
    {{ form_start(client_form, {'attr': {'id': 'client_form'}}) }}
        {{ form_row(client_form.doc_num, {'attr': {'class': 'validate-text'}}) }}
        {{ form_row(client_form.docType) }}
        {{ form_row(client_form.Buscar) }}
    {{ form_end(client_form) }}
    {{ msg }}

    {% if (client) %}
        {% if client.getCorporateName() is not null %}
            <h2>Nombre cuenta: {{ client.getCorporateName() }}</h2>
        {% else %}
            <h2>Nombre cuenta: {{ client.getName() }} {{ client.getLastName() }}</h2>
        {% endif %}
        <b>Fecha de creación cuenta: {{client.getCreationDate() | date}}</b></br>
        <b>Documento de identificación: {{client.getDocNum()}}</b></br></br>
    {% endif %}

    {% if cuentas is not empty %}
        {% for cuenta in cuentas %}
            Cuenta: {{ cuenta.getId() }} </br>
            Balance: GTQ. {{ cuenta.getBalance() }} </br>
            Fecha de creación: {{ cuenta.getCreationDate() | date }} </br>
            <b>Transacciones:</b>
            <table>
            <thead>
            <tr>
            <td> Tipo </td>
            <td> Cantidad </td>
            <td> Descripción </td>
            <td> Fecha </td>
            </tr>
            </thead>
            <tbody>
            {% if cuenta.getAccountTransac() is not empty %}
                {% for transac in cuenta.getAccountTransac() %}
                <tr>
                    {% if (transac.getType() == 'D') %}
                        <td> Depósito  </td>
                    {% elseif (transac.getType() == 'R') %}
                        <td> Retiro  </td>
                    {% endif %}
                    <td> GTQ. {{ transac.getAmount() }} </td>
                    <td> {{ transac.getDescription() }} </td>
                    <td> {{ transac.getTransactionDate | date }} </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            </table>
            </br> </br>
        {% endfor %}
    {% endif %}

    <script>
        $(document).ready(function() {
            $('#client_form').on('submit', function(event) {
                let valid = true;

                $('.validate-text').each(function() {
                    if (!/^[0-9][0-9A-Z]*$/.test($(this).val())) {
                        alert('Por favor ingrese un texto válido en el campo ' + $(this).attr('name'));
                        valid = false;
                        return false; 
                    }
                });

                if (!valid) {
                    event.preventDefault(); 
                }
            });
        });
    </script>
{% endblock %}
